<a href="https://colab.research.google.com/github/micsupasun/university_of_essex/blob/main/neural_networks_and_deep_learning/lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Write one line code to implement arithmetic such as addition and multiplication 
print(1+1)
print(2*2)
print(6/3)
print(8-6)

2
4
2.0
2

In [ ]:
# Write a script with several lines to implement FOR loop
# You may use the code to calculate the sum of 1, 2, 3, 4, 5, â€¦., 100
temp = 0
for i in range(1,101):
  temp += i
print("sum of value =",temp)

sum of value = 5050

In [ ]:
# Create a variable (int, str, list etc.) and assign a value to the variable you just created
print(1,type(1))
print("2",type("2"))
print([3],type([3]))
print({4},type({4}))

1 <class 'int'>
2 <class 'str'>
[3] <class 'list'>
{4} <class 'set'>